body {
  background-color: rgb(214, 214, 214);
}
#header a:hover {
  color: red;
}
h1 {
  font-family: serif;
  background-color: rgb(38, 125, 151);
  border-radius: 25px;
  padding: 15px;
}
h2 {
  font-family: "Shojumaru", cursive;
}
hr {
  background-color: green;
  border-width: 2px;
}
.banner1 {
  background-image: url("assets/images/background.jpg");
  background-size: cover;
}
.footer {
  background-color: rgb(107, 148, 150);
  height: 60px;
  margin-top: 64px;
  text-align: center;
}
.fa-instagram {
    color: blueviolet;
}
.fa-youtube {
    color: rgb(189, 44, 44);
}