body {
  background-color: rgb(214, 214, 214);
}
#header a:hover {
  color: red;
}
#header a{
  color: rgb(197, 199, 90);
}
h1 {
  font-family: serif;
  color: rgba(214, 214, 214, 0.979);
  background-color: rgb(22, 131, 150);
  border-radius: 25px;
  padding: 15px;
}
h2 {
  font-family: "Shojumaru", cursive;
}
hr {
  height: 1px;
}
.banner {
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  border-radius: 15px;
}
main p {
  color: rgb(148, 10, 95);
}
.fa-instagram {
  color: blueviolet;
}
.fa-youtube {
  color: rgb(189, 44, 44);
}
